input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}

/* Custom styles for the progress bar steps */
#step-1-container.active, #step-2-container.active, #step-3-container.active, #step-4-container.active {
    background-color: #3b82f6;
}

#step-1-line.bg-blue-600, #step-2-line.bg-blue-600, #step-3-line.bg-blue-600 {
    background-color: #3b82f6;
}

/* Style for the quote summary sticky panel */
.sticky {
    position: sticky;
    top: 6rem;
}